body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
  margin: 0 auto;

  flex: 1 1;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
